rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null
        && (
      request.auth.token.role == "Admin" 
      );
    }

    function isSuperAdmin() {
      return request.auth != null
        && request.auth.token.role == "SuperAdmin";
    }

    function isOwner(id) {
      return request.auth.uid == id;
    }

    match /users/{id} {

      allow create , delete: if isSignedIn()   && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update: if isSignedIn() && isSuperAdmin()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /pressings_model/{id} {
      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
      match /services/{serviceId} {
        allow create: if isSignedIn()
          && ( isAdmin() || isSuperAdmin());

        allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

        allow update, delete: if isSignedIn()
          && (isOwner(id) || isAdmin() || isSuperAdmin());
      }
    }

    match /suppliers_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }
    match /superMarkts_model/{id} {
      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /patisseries_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /professionnels_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /restaurants_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /ingredients_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /categories_model/{id} {
      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /recipes_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /products_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }

    match /restaurants_menu_model/{id} {
      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }



    match /restaurant_type_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }


    match /store_category_model/{id} {

      allow create: if isSignedIn()
        && ( isAdmin() || isSuperAdmin());

      allow read: if isSignedIn() && (isOwner(id) || isAdmin() || isSuperAdmin());

      allow update, delete: if isSignedIn()
        && (isOwner(id) || isAdmin() || isSuperAdmin());
    }
  }
}